{% if fractal %}
  {% set map = map %}
  {% set opening_times = opening_times %}
{% else %}
  {% set map = post.meta('map') %}
  {% set opening_times = post.meta('opening_times') %}
{% endif %}

{# Branch Page #}
<div class="bg-white overflow-hidden">
  <div class="container py-6 md:py-10">
    <div class="flex flex-wrap md:-mx-8">
      <div class="w-full md:w-1/2 md:px-8 mb-8 md:mb-0">
        <div class="copy text-primary">
          <h1>{{ post.title }}</h1>
          
          {{ post.content }}
        </div>
      </div> 

      <div class="w-full md:w-1/2 md:px-8">
        <div class="flex flex-wrap">
          <div class="bg-primary{{ map ? ' w-full sm:w-1/2 md:w-full lg:w-1/2' : ' w-full' }}">
            <span class="block text-white font-bold text-lg md:text-xl xl:text-2xl px-6 md:px-8 pt-6 md:pt-8 pb-4">Opening Times</span>
            <ul class="pb-8">
              {% for day in opening_times %}
                <li class="flex px-6 md:px-8 py-2 md:py-3 text-white {{ loop.index % 2 == 1 ? ' ' : ' bg-primary-dark' }}">
                  <span class="block opacity-50">{{ day.day }}</span>
                  <span class="block ml-auto text-sm uppercase leading-wider">
                    {{ day.times }}
                  </span>
                </li>
              {% endfor %}
            </ul>
          </div>
          {% if map %}
            <div class="w-full sm:w-1/2 md:w-full lg:w-1/2">
              {{ map | raw }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>