{# Meet The Team - Variant 4 #}
<div class="bg-gray-100 py-8">
  <div class="container">
    <div class="flex flex-wrap md:-mx-5">
      {% for person in meetTheTeam %}
        <div class="w-full md:w-1/2 lg:w-1/4 md:px-5 mb-8 lg:mb-0">
          <div class="w-full bg-white shadow shadow-md">
            <div class="flex flex-wrap">
              {% if person.image %}
                <img class="block w-full" src="{{ person.image.src }}" alt="{{ person.name }}" />
              {% endif %}

              <div class="p-6 border-b border-gray-200 w-full">
                {% if person.name %}
                  <div class="w-full">
                    <span class="block text-xl md:text-2xl text-primary">{{ person.name }}</span>
                  </div>
                {% endif %}

                {% if person.jobTitle %}
                  <div class="w-full">
                    <span class="block uppercase text-sm tracking-wider text-primary-light">{{ person.jobTitle }}</span>
                  </div>
                {% endif %}
              </div>

              {% if person.description %}
                <div class="w-full p-6">
                  <p class="block text-sm text-primary">{{ person.description }}</p>
                </div>
              {% endif %}

              <div class="bg-primary text-white w-full py-2 px-6">
                <a href="tel: {{ person.phone }}" class="no-underline ml-auto inline-block text-white font-bold hover:text-secondary focus:text-secondary">{{ person.phone }}</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>