{# FAQs - Variant 3 #}
<dl class="bg-gray-100 p-8">
  <div class="bg-white rounded-lg shadow-md">
    {% for faq in faqs %}
      <div class="{{ faq.open ? ' bg-gray-100' : ' bg-transparent' }}{{ loop.index != loop.length ? ' border-b border-gray-200': ' ' }}">
        <dt class="{{ faq.open ? 'mb-2' : 'mb-0' }}">
          <button aria-expanded="false" aria-controls="faq-{{ loop.index }}" class="text-primary text-left block w-full py-6 px-6 font-bold hover:text-secondary focus:text-secondary">
            {{ faq.question }}
          </button>
        </dt>
        {% if faq.open %}
          <dd class="max-w-2xl px-6 pb-2 -mt-2">
            <p id="faq-{{ loop.index }}" class="text-primary text-sm md:text-base opacity-50 pb-5">
              {{ faq.answer }}
            </p>
          </dd>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</dl>