{# FAQs - Variant 1 #}
<dl class="bg-gray-100 p-8">
  {% for faq in faqs %}
    <div class=" bg-white rounded-lg shadow-lg mb-4">
      <dt class="{{ faq.open ? 'mb-2' : 'mb-0' }}">
        <button aria-expanded="false" aria-controls="faq-{{ loop.index }}" class="font-bold text-secondary text-left block w-full py-4 px-5 md:px-8 xl:px-12">
          {{ faq.question }}
        </button>
      </dt>
      {% if faq.open %}
        <dd class="max-w-2xl px-5 md:px-8 xl:px-12 pb-4">
          <p id="faq-{{ loop.index }}" class="text-primary text-sm md:text-base">
            {{ faq.answer }}
          </p>
        </dd>
      {% endif %}
    </div>
  {% endfor %}
</dl>