{# FAQs - Variant 2 #}
<dl class="bg-white p-8">
  {% for faq in faqs %}
    <div class="border-b border-gray-200">
      <dt class="{{ faq.open ? 'mb-2' : 'mb-0' }}">
        <button aria-expanded="false" aria-controls="faq-{{ loop.index }}" class="text-primary text-left block w-full py-4">
          {{ faq.question }}
        </button>
      </dt>
      {% if faq.open %}
        <dd class="max-w-2xl">
          <p id="faq-{{ loop.index }}" class="text-primary text-sm md:text-base opacity-50 pb-5">
            {{ faq.answer }}
          </p>
        </dd>
      {% endif %}
    </div>
  {% endfor %}
</dl>