{# Awards & Accreditations - Variant 1 #}
<div class="relative flex justify-center w-full">
	
	{{ header ? '<h3 class="mb-4 text-center">' ~ header ~ '</h3>' }}
	
	<ul class="flex w-full px-4 overflow-x-auto scrolling-touch lg:px-6 md:-mx-5 2xl:-mx-8 carousel-container">
		{% for logo in logos %}
			{%- set el = el | default('div') -%}
			{%- if logo.link -%}
			{%- set el = 'a' -%}
			{%- endif -%}
			<li class="flex-none w-1/2 p-4 sm:w-1/3 md:w-1/4 lg:w-1/6 carousel-item">				
				<{{el}} {% if logo.link %} href="{{ logo.link }}" target="_blank" rel="nofollow noreferrer" {% endif %}
					class="w-auto mb-4 md:px-4 lg:mb-0 {% if logo.link %}transition duration-300 hover:opacity-75{% endif %}">
					<img class="self-center flex-none inline-block w-full h-auto lazyload max-h-8"
						src="{{ logo.image.url }}" alt="{{ logo.name }} Logo" />
					{# @INTERGATION : Uncomment this for the logo image from ACF #}
					{# <img class="self-center inline-block h-auto m-2 lazyload max-h-8" data-src="{{ logo.image.url|tojpg|letterbox('130', '90', '#fff') }}" alt="{{ logo.name }} Logo" /> #}
				</{{el}}>				
			</li>
		{% endfor %}
	</ul>
	<div class="absolute top-0 left-0 flex items-center h-full">
		<button class="px-0 py-2 opacity-25 carousel-arrow carousel-arrow-left">
			{% if fractal %}
			<svg class="block text-2xl text-primary-dark icon xl:text-3xl">
				<use href="#icon-angle-left"></use>
			</svg>
			{% else %}
			{{function ('icon', 'angle-left', 'text-2xl xl:text-3xl block text-primary-dark')}}
			{% endif %}
		</button>
	</div>

	<div class="absolute top-0 right-0 flex items-center h-full">
		<button class="px-0 py-2 carousel-arrow carousel-arrow-right">
			{% if fractal %}
			<svg class="block text-2xl text-primary-dark icon xl:text-3xl">
				<use href="#icon-angle-right"></use>
			</svg>
			{% else %}
			{{function ('icon', 'angle-right', 'text-2xl xl:text-3xl block text-primary-dark')}}
			{% endif %}
		</button>
	</div>
</div>