{# Gallery - Variant 2 #}
<div class="bg-gray-200 py-8">
  <div class="container">
    {% for item in gallery %}
      {% if item.active %}
        <div class="w-full mb-4 md:mb-6">
          <img class="block w-full border-4 border-white" src="{{ item.image.src }}" alt="{{ item.image.title }}" />
        </div>
      {% endif %}
    {% endfor %}
    <div class="flex flex-wrap -mx-2 md:-mx-4">
      {% for item in gallery %}
        <div class="w-1/2 md:flex-1 px-2 md:px-4 mb-4 lg:mb-0">
          <div class="w-full">
            <img class="block w-full border-4 {{ item.active ? 'border-secondary' : 'border-white'}}" src="{{ item.image.src }}" alt="{{ item.image.title }}" />
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>