{# Hero - Variant 1 #}
<div class="bg-primary py-24 md:py-32 xl:py-40">
  <div class="container">
    <div class="flex flex-wrap justify-center">
      <div class="w-full max-w-xl">
        {# If the subheading data is passed in #}
        {% if subHeading %}
          <span class="text-secondary uppercase tracking-wider text-center block mb-2">{{ subHeading }}</span>
        {% endif %}
        
        {# If the heading data is passed in #}
        {% if heading %}
          <h1 class="font-bold text-3xl md:text-4xl xl:text-5xl text-white text-center leading-tight mb-6">{{ heading }}</h1>
        {% endif %}
        
        {# If the blurb data is passed in #}
        {% if blurb %}
          <p class="md:text-lg text-white text-center mb-6">{{ blurb }}</p>
        {% endif %}

        {% if btns %}
          <div class="flex flex-wrap items-center justify-center">
            {% for btn in btns %}
              <a href="{{ btn.link }}" class="bg-secondary hover:bg-secondary-dark focus:bg-secondary-dark text-center border-2 border-transparent rounded-md text-white block px-4 py-2 md:mr-4 mb-3 w-full md:w-auto">{{ btn.text }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>