{# Hero - Variant 4 #}
<div class="bg-white relative">
  <div class="container">
    <div class="flex flex-wrap md:-mx-8">
      <div class="w-full md:w-1/2 md:px-8 order-2 md:order-1 py-6 md:py-32 xl:py-40">
        {# If the subheading data is passed in #}
        {% if subHeading %}
            <span class="text-secondary uppercase tracking-wider block mb-2 mt-4">{{ subHeading }}</span>
        {% endif %}
        
        {# If the heading data is passed in #}
        {% if heading %}
            <h1 class="font-bold text-3xl md:text-4xl xl:text-5xl leading-tight text-primary mb-6">{{ heading }}</h1>
        {% endif %}
        
        {# If the usps data is passed in #}
        {% if usps %}
            <ul class="list-inside list-disc mb-6">
            {% for usp in usps %}
                <li class="mb-1 text-primary">{{ usp.text }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if btns %}
          <div class="flex flex-wrap items-center">
            {% for btn in btns %}
              <a href="{{ btn.link }}" class="bg-secondary hover:bg-secondary-dark focus:bg-secondary-dark text-center border-2 border-transparent rounded-md text-white block px-4 py-2 md:mr-4 mb-3 w-full md:w-auto">{{ btn.text }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      {# Image Block ... @TODO implement this properly #}
      {% if image %}
      <div class="order-1 md:order-2 md:absolute top-0 right-0 bottom-0 w-full md:w-1/2">
        <img src="{{ image.url }}" alt="{{ image.title }}" class="w-full h-full object-center object-cover" />
      </div>
      {% endif %}
    </div>
  </div>
</div>