{# Gallery - Variant 2 #}

{% if post.thumbnail_gallery | length %}
    {% set gallery = post.meta('thumbnail_gallery') %}
{% elseif options.thumbnail_gallery | length %}
    {% set gallery = options.thumbnail_gallery %}
{% endif %}


<div class="py-8 bg-gray-200 thumbnail-gallery">
  <div class="container">

    {% for item in gallery %}
      {% if loop.first %}
        <div class="relative w-full mb-4 md:mb-6 thumbnail-gallery-active">
          {% if fractal %}
            <img class="block w-full border-4 border-white" src="{{ item.url }}" alt="{{ item.title }}" />
          {% else %}
            <img class="block w-full border-4 border-white lazyload" data-src="{{ item.url|resize(1024,768) }}" alt="{{ item.title }}" />
          {% endif %}

          <div class="absolute top-0 left-0 flex items-center h-full">
            <button class="px-0 py-2 opacity-25 carousel-arrow carousel-arrow-left">
              {% if fractal %}
              <svg class="block text-2xl text-white icon xl:text-3xl">
                <use href="#icon-angle-left"></use>
              </svg>
              {% else %}
              {{function ('icon', 'angle-left', 'text-2xl xl:text-3xl block text-white')}}
              {% endif %}
            </button>
          </div>
          
          <div class="absolute top-0 right-0 flex items-center h-full">
            <button class="px-0 py-2 carousel-arrow carousel-arrow-right">
              {% if fractal %}
              <svg class="block text-2xl text-white icon xl:text-3xl">
                <use href="#icon-angle-right"></use>
              </svg>
              {% else %}
              {{function ('icon', 'angle-right', 'text-2xl xl:text-3xl block text-white')}}
              {% endif %}
            </button>
          </div>

        </div>
      {% endif %}
    {% endfor %}

    <div class="flex flex-wrap -mx-2 md:-mx-4 thumbnail-gallery-thumbs">
      {% for item in gallery %}
        <div class="w-1/2 px-2 mb-4 md:flex-1 md:px-4 lg:mb-0">
          <div class="w-full">
            {% if fractal %}
              <img class="block w-full transition border-4 border-white cursor-pointer hover:opacity-75" src="{{ item.url }}" alt="{{ item.title }}" />
            {% else %}
              <img class="block w-full transition border-4 border-white cursor-pointer hover:opacity-75 lazyload" data-index={{loop.index0}} data-src="{{ item.url|resize(500,400) }}" alt="{{ item.title }}" data-full-size={{ item.url|resize(1024,768) }} />
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</div>