{# News Index - Variant 3 #}
<div class="bg-white overflow-hidden">
  <div class="container py-6 md:py-10">
    <div class="flex flex-wrap md:-mx-4 lg:-mx-6">
      <div class="w-full md:w-1/4 md:px-4 lg:px-6 order-2 md:order-1">
        <div class="border border-gray-300 rounded-lg bg-gray-200 p-6 lg:p-8 mb-6 md:mb-8">
          <span class="uppercase tracking-wider text-primary-light block mb-4">Categories</span>

          <ul>
            {% for cat in categories %}
              {# @INTEGRATION - check your permalinks to confirm this URL path is correct #}
              <li><a href="/category/{{ cat.slug }}" class="w-full block py-1 text-primary hover:text-secondary focus:text-secondary">{{ cat.name }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="border border-gray-300 rounded-lg bg-gray-200 p-6 lg:p-8 mb-6 md:mb-8">
          <span class="uppercase tracking-wider text-primary-light block mb-4">Follow Us</span>

          <ul>
            {% if options.social_facebook %}
              <li><a href="{{ options.social_facebook }}" target="_blank" rel="noopener noreferrer" class="w-full block py-1 text-primary hover:text-secondary focus:text-secondary">Facebook</a></li>
            {% endif %}
            {% if options.social_twitter %}
              <li><a href="{{ options.social_twitter }}" target="_blank" rel="noopener noreferrer" class="w-full block py-1 text-primary hover:text-secondary focus:text-secondary">Twitter</a></li>
            {% endif %}
            {% if options.social_instagram %}
              <li><a href="{{ options.social_instagram }}" target="_blank" rel="noopener noreferrer" class="w-full block py-1 text-primary hover:text-secondary focus:text-secondary">Instagram</a></li>
            {% endif %}

            {% for item in options.social_other %}
              <li><a href="{{ item.url }}" target="_blank" rel="noopener noreferrer" class="w-full block py-1 text-primary hover:text-secondary focus:text-secondary">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="w-full md:w-3/4 md:px-4 lg:px-6 order-1 md:order-2">
        <div class="flex flex-wrap md:-mx-4 lg:-mx-6">
          {% for post in posts %}
            <div class="w-full md:w-1/2 lg:w-1/3 md:px-4 lg:px-6 mb-10">
              <a href="{{ post.link }}" class="block group">

                {% if fractal %}
                  {% if post.thumbnail %}
                    <img src={{ post.thumbnail.src }} alt="{{ post.title }}" class="w-full rounded-lg mb-3" />
                  {% endif %}
                {% else %}
                  {% if post.thumbnail %}
                    <img src={{ post.thumbnail.src | resize(600, 350, 'center') }} alt="{{ post.title }}" class="w-full rounded-lg mb-3" />
                  {% endif %}
                {% endif %}

                {% for cat in post.categories | slice(0, 1) %}
                  <span class="inline-block text-sm mb-2 text-secondary font-bold">{{ cat.name }}</span>
                {% endfor %}

                <span class="block text-primary group-hover:text-secondary group-focus:text-secondary text-lg md:text-xl leading-tight mb-5">{{ post.title }}</span>

                <span class="text-primary font-bold text-sm block group-hover:text-secondary group-focus:text-secondary">Read More <span class="text-secondary">&raquo;</span></span>
              </a>
            </div>
          {% endfor %}
        </div>
      </div> 
    </div>
  </div>
</div>