{# News Index - Variant 1 #}
<div class="bg-white overflow-hidden">
  <div class="container py-6 md:py-10">
    <div class="flex flex-wrap md:-mx-5 lg:-mx-8">
      <div class="w-full md:w-2/3 md:px-5 lg:px-8">
        <div class="flex flex-wrap md:-mx-5 lg:-mx-8">
          {% for post in posts %}
            <div class="w-full md:w-1/2 md:px-5 lg:px-8 mb-10">
              <div class="bg-primary">
                <div class="py-2 px-6">
                  <div class="flex flex-wrap -mx-1 text-white">
                    <span class="inline-block px-1 text-sm flex-1">{{ post.date }}</span>
                    {% for cat in post.categories | slice(0, 1) %}
                      <span class="inline-block px-1 text-sm w-auto ml-auto uppercase tracking-wider">{{ cat.name }}</span>
                    {% endfor %}
                  </div>
                </div>

                {% if fractal %}
                  {% if post.thumbnail %}
                    <img src={{ post.thumbnail.src }} alt="{{ post.title }}" class="w-full" />
                  {% endif %}
                {% else %}
                  {% if post.thumbnail %}
                    <img src={{ post.thumbnail.src | resize(600, 350, 'center') }} alt="{{ post.title }}" class="w-full" />
                  {% endif %}
                {% endif %}

                <div class="p-6">
                  <span class="block text-white font-bold text-lg md:text-xl leading-tight mb-5">{{ post.title }}</span>

                  <div class="text-right">
                    <a href="{{ post.link }}" class="bg-secondary text-white inline-block px-3 py-1 rounded hover:bg-secondary-dark focus:bg-secondary-dark">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div> 

      <div class="w-full md:w-1/3 md:px-5 lg:px-8">
        <div class="border border-gray-200 bg-white p-6 lg:p-8 mb-6 md:mb-8">
          <span class="uppercase tracking-wider text-secondary block mb-4">Categories</span>

          <ul>
            {% for cat in categories %}
              {# @INTEGRATION - check your permalinks to confirm this URL path is correct #}
              <li><a href="/category/{{ cat.slug }}/" class="w-full block py-1 text-primary hover:text-secondary focus:text-secondary">{{ cat.name }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="border border-gray-200 bg-white p-6 lg:p-8">
          <span class="uppercase tracking-wider text-secondary block mb-4">Follow Us</span>

          <ul>
          {% if options.social_facebook %}
            <li><a href="{{ options.social_facebook }}" target="_blank" rel="noopener noreferrer" class="w-full block py-1 text-primary hover:text-secondary focus:text-secondary">Facebook</a></li>
          {% endif %}
          {% if options.social_twitter %}
            <li><a href="{{ options.social_twitter }}" target="_blank" rel="noopener noreferrer" class="w-full block py-1 text-primary hover:text-secondary focus:text-secondary">Twitter</a></li>
          {% endif %}
          {% if options.social_instagram %}
            <li><a href="{{ options.social_instagram }}" target="_blank" rel="noopener noreferrer" class="w-full block py-1 text-primary hover:text-secondary focus:text-secondary">Instagram</a></li>
          {% endif %}

          {% for item in options.social_other %}
            <li><a href="{{ item.url }}" target="_blank" rel="noopener noreferrer" class="w-full block py-1 text-primary hover:text-secondary focus:text-secondary">{{ item.name }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>